<!--The content below is only a placeholder and can be replaced.-->

<div class="flex-container" [ngClass]="selectedTheme" style="border:1px solid yellow;">
    <div class="flex-item">
        <app-header></app-header>
    </div>

    <div class="flex-item">
      <app-menu></app-menu>
    </div>

    <div class="flex-item">
      <!-- <app-mainContainer> -->
          <router-outlet></router-outlet> <!-- to load the views -->
      <!-- </app-mainContainer> -->
    </div>
</div>

<!-- <router-outlet></router-outlet> -->

<div class="btn-wrapper">
  <button mat-mini-fab class="btn btn-default" (click)="selectedTheme='default'"></button>
  <button mat-mini-fab class="btn btn-purple" (click)="selectedTheme='purple'"></button>
  <button mat-mini-fab class="btn btn-pink" (click)="selectedTheme='pink'"></button>
  <button mat-mini-fab class="btn btn-deep-orange" (click)="selectedTheme='deep-orange'"></button>
</div>
